pre-populate 'Add Request Header' dialogue with standard http headers

Clause 5.3 of RFC 2616 lists the standard http request headers ( http://tools.ietf.org/html/rfc2616#page-38 ). RESTClient would be improved if these were provided in a drop-down box in the Add Request Header dialogue. 

Even better still would be syntax checking on the value entered. 
